:root{
  --base-color:  hsl(0, 0%, 99%);
  --text-color: hsl(200, 15%, 8%);
  --secondary-color: white;
}

.darkmode{
  --base-color: hsl(209, 23%, 22%);
  --secondary-color:hsl(207, 26%, 17%);
  --text-color: #ffffff;
}
body{
  background-color: var(--base-color);
  color: var(--text-color);
}
header {
  display: flex;
   background-color: var(--secondary-color);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#darkMod button {
    color:var(--text-color);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
}
.search {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap; 
  gap: 1rem;
}

.search-container { 
  position: relative;
  min-width: 250px;
}

.search-input {
    background-color: var(--secondary-color);
      color: var(--text-color);
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      border:none;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-radius: 4px;
  font-size: 1rem;
}

.search-icon {
  position: absolute;
    color: var(--text-color);
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.filter-container {
background-color: var(--secondary-color); 
  color: var(--text-color);
  min-width: 200px;
  border:none;
}

.filter-select {
background-color: var(--secondary-color);
  color: var(--text-color);
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  border:none;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 2rem;
}


ul li {
   background-color: var(--secondary-color);
  color: var(--text-color);  
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden; /
  display: flex;
  flex-direction: column;
  text-align: left;
}

ul img {
  width: 100%;
  height: 150px;
  object-fit: cover; 
}

ul h3 {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

ul p {
  margin: 0 1rem 0.5rem 1rem;
  font-size: 0.95rem;
}
.modal{
  margin:50px;
}
.close-btn {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  width:120px;
  padding: 0.6rem 1.2rem;   
  font-size: 1rem;         
  border-radius: 6px;       
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#country-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 50px;
}


#image-container { 
   display: block;
   grid-column: 1;
  border-radius: 8px;
    unicode-bidi: isolate;
}
#image-container img {
     width: 100%;
    max-width: 560px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#info {
  display: grid;
  grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto; 
  background-color: var(--base-color);
}
#title{
    display: block;
    font-size: 1.5em;
    grid-row: 1;
    grid-column: 1 / -1;
    font-weight: bold;
    unicode-bidi: isolate;
    padding: 0;
    margin: 0;

}
#infoA{
grid-column: 1;
grid-row: 2;
display: grid;
}
#infoB{
  grid-column: 2;
  grid-row: 2;
   display: grid;
}

#infoC {
  grid-column: 1 / span 2; 
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 10px;;
}
@media screen {


}